.container {
  padding: var(--header-height);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.description {
  max-width: 600px;
  margin: auto;

  &::after {
    content: '';
    display: block;
    /*background-color: var(--mantine-color-blue-filled); */
    width: 45px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
    margin-left: auto;
    margin-right: auto;
  }
}

.wbcard {
  background-color: #ecfdf7;
  width: 50%;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
}

@media (max-width: 1024px) {
  .card {
    width: 85%;
    margin-top: 9rem;
  }
}

.title {
  font-weight: bold;
  font-family:
    Greycliff CF,
    var(--mantine-font-family);
  line-height: 1.5;
}

.body {
  padding: var(--mantine-spacing-md);
}

.cardGroup {
  display: flex;
  flex-direction: row; /* 默认横向布局 */
}

@media (max-width: 768px) {
  .cardGroup {
    flex-direction: column; /* 小屏幕竖着排 */
  }
}