.header {
  /* --header-height: 7%; */
  --header-bg: var(--color-secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  background-color: var(--header-bg);
  z-index: var(--z-index-header);
  padding: 0 var(--mantine-spacing-sm);
}

@media (min-width: 768px) {
  .header {
    height: calc(var(--header-height) + 44px);
  }
}

.mainSection {
  padding-bottom: var(--mantine-spacing-sm);
}

.logo {
  display: block; /* 默认显示 */
  margin-top: 1%;
}

.mobileLogo {
  display: none; /* 默认隐藏 */
}

.mobileHeaderGroup {
  display: flex;
  flex-direction: row;
  align-items: center; /* 垂直居中 */
  justify-content: center; /* 水平居中 */
  gap: var(--mantine-spacing-sm);
  height: var(--header-height); /* 确保组件占满header高度 */
}

.user {
  /* display: none; */
  color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-0));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  transition: background-color 100ms ease;

  &:hover {
    background-color: light-dark(#B9E5E8, var(--mantine-color-dark-5));
  }
}

.userActive {
  background-color: light-dark(#B9E5E8, var(--mantine-color-dark-8));
}

.tabsList {
  display: flex; 
  gap: var(--mantine-spacing-lg);
  /* position: relative; */
  &::before {
    display: none;
  }
}

.tab {
  color: var(--mantine-color-white);
  font-weight: 600;
  font-size: large;
  height: 44px;
  background-color: transparent;
  position: relative;
  letter-spacing: 0.1em;

  &::before,
  &::after {
    background-color: light-dark(
      #DFF2EB,
      var(--mantine-color-dark-7)
    ) !important;
  } 

  &:hover {
    background-color: light-dark(#B9E5E8, var(--mantine-color-dark-5));
  }

  &[data-active] {
    background-color: light-dark(#DFF2EB, var(--mantine-color-dark-7));
    border-color: light-dark(#DFF2EB, var(--mantine-color-dark-7));
    border-bottom-color: #DFF2EB;
    color: black; /* 设置选中标签的文字颜色为黑色 */
    font-weight: bold; /* 可选：使选中的标签文字加粗 */
  }
}

/* 添加适应手机屏幕的样式 */
@media (max-width: 768px) {
  .logo {
    display: none; /* 在小屏幕上隐藏 */
  }
  
  .mobileLogo {
    display: flex; 
  }

  .mobileMenu {
    padding-top: var(--mantine-spacing-xs);
    width: 280px; /* 菜单宽度 */
    background-color: #66BAB7;
    position: fixed;
    top: 52px; /* 从导航栏下方开始显示 */
    left: -280px; /* 初始位置在视图左侧外 */
    z-index: 1000;
    height: calc(100vh - 52px); /* 整个菜单的高度 */
    overflow-y: auto; /* 启用垂直滚动 */
    border-right: 1px solid var(--mantine-color-gray-2);
    transition: left 0.3s ease; /* 控制 left 的过渡动画 */
  }
  

  .mobileMenu ul {
    list-style: none;
    margin: 0;
    padding-left: 0px;
    width: 100%; /* 确保列表占满菜单宽度 */
  }

  .mobileMenuItem {
    padding: var(--mantine-spacing-sm) var(--mantine-spacing-md);
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .mobileMenuItem:last-child {
    border-bottom: none;
  }

  .mobileMenuItem a {
    padding-left: 14px;
    color: var(--mantine-color-white);
    font-size: 17px;
    text-decoration: none;
    font-weight: 500;
    display: block;
    width: 100%;
    letter-spacing: 0.1em;
  }

  .mobileMenuItem a:hover {
    color: var(--mantine-color-dark);
  }
    
  .header {
    height: var(--header-height); /* 手机端只需要基础高度 */
    padding: 0 var(--mantine-spacing-sm); /* 修改水平内边距 */
  }

  .mainSection {
    height: 100%; /* 确保mainSection占满header高度 */
    display: flex;
    align-items: center; /* 垂直居中其内容 */
  }

  .mobileLogo {
    display: flex;
    align-items: center; /* 确保logo垂直居中 */
  }
}

.tabs {
  background-color: var(--header-bg);
  margin-top: -13px; /* 调整与上方的间距 */
}

.drawerHeader {
  background-color: #66BAB7;
}

.drawerContent {
  background-color: #66BAB7;
}

.drawerBody {
  padding: 0;
  color: var(--mantine-color-white);
}

.drawerClose {
  color: var(--mantine-color-white);
}

.drawerClose:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
