.card {
    /* background-color: var(--mantine-color-body); */
    transition:
      transform 150ms ease,
      box-shadow 150ms ease;
  
    &:hover {
      transform: scale(1.01);
      box-shadow: var(--mantine-shadow-md);
    }
  }

.title {
  font-family: 'Greycliff CF', var(--mantine-font-family);
  font-weight: bold;
}

.image {
  height: 100%;
  width: auto;
  margin: auto;
}

@media (max-width: 768px) {
  .image {
    /* transform: rotate(90deg) scale(1.7); 小屏幕时旋转 90 度 
    transform-origin: center;*/
    height: auto;
    width: 100%;
    margin: auto;
  }
}